<% @tweets.each do |tweet| %>

<div class="card center-block tweets-card">
	<div class="card-body">
		<div class="d-flex align-items-center">
			<img src="https://avatars3.githubusercontent.com/u/38857700?s=460&v=4" class="img-thumnail rounded-circle mb-2 border" width="50">
			<p class="h6 pl-2"><%= link_to("#{tweet.user.name}", "/users/#{tweet.user.id}", {class: "text-muted"}) %></p>
		</div>
		<p class="card-text">
			<%= tweet.content %>
		</p>
		<div class="d-flex">
			<div class="flex-grow-1">
				<% if Like.find_by(user_id: @current_user, tweet_id: tweet.id) %>
					<%= link_to("/likes/#{tweet.id}/destroy", {method: "post", data:{toggle: "tooltip", placement: "top", title: "「いいね」を取り消す" }}) do %>	
						<i class="fas fa-heart unlike-button"></i>
					<% end %>
				<% else %>
					<%= link_to("/likes/#{tweet.id}/create", {method: "post", data:{toggle: "tooltip", placement: "top", title: "「いいね」する" }}) do %>	
						<i class="fas fa-heart like-button"></i>
					<% end %>
				<% end %>
				<span class="pr-2"><%= Like.where(tweet_id: tweet.id).count %></span>
				<small class="text-secondary"><%= tweet.updated_at %></small>
			</div>			

			<% if tweet.user_id == @current_user.id %>
			<!-- ログインしているユーザーのツイートにだけ表示させる -->
			<div class="dropdown">
				<button class="btn btn-secondary pt-0 pb-0 btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-ellipsis-h"></i>
				</button>
				<div class="dropdown-menu tweet-menu" aria-labelledby="dropdownMenuButton">
					<%= link_to("編集", "/tweets/#{tweet.id}/edit", {class: "dropdown-item"}) %>
					<%= link_to("削除", "/tweets/#{tweet.id}/destroy", {class: "dropdown-item", method: :post}) %>
				</div>
			</div>
			<% end %>

		</div>
	</div>
</div>

<% end %>

